@font-face {
    font-family:"Poppins-Light";
    src: url("../fuentes/Poppins/Poppins-Light.ttf");
}
@font-face {
    font-family: "Belanosima-Regular";
    src: url("../fuentes/Belanosima/Belanosima-Regular.ttf");
}